* {
    box-sizing: border-box;
}
body{
    background-image: url(anh/nen.png);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: lightsalmon;
    text-shadow: 2px 1px orange;
}
section > div {
    font-style: italic;
    color: red;
    text-align: center;
}
.main {
    display: flex;
    justify-content: space-around;
}
.tkb {
    background-color: #F08080;
    padding: 10px ;
    font-size: 20px;
    margin: 10px;
    width: 30%;
    position: relative;
    border-radius: 1rem
}
div.tkb img {
    width: 100%;
}
div.tkb > div > a {
    color: blue;
    text-align: center;
    text-decoration: none;
    display: block;
}
div.pnew {
    padding: 10px;
    position: absolute;
    color: white;
    background-color: cadetblue;
    right: 0;
    top: 0;
    border-radius: 0 1rem 0 1rem;
    animation: thaydoimau 5s ease infinite;
}
@keyframes thaydoimau {
    0% { background-color: red;}
    25% { background-color: orange;}
    50% { background-color: blue;}
    100% { background-color: green;}
}